{% extends 'base.html.twig' %}
{% block title %}Recettes
{% endblock %}
{% block body %}
	<div class="container-fluid p-5">
		<div class="Container_Primary p-4 exo">
			<h2>Nos recettes</h2>
		</div>
		<div class="Container_Primary p-4 exo mt-4">
			<div class="row text-center ">
				<h3 class="recipe_title merri">{{ recipe.title }}
					{# Calcul pour la note  #}
				</br>Note :{% set total = 0 %}
				{% set count = 0 %}
				{% for notice in recipe.notices %}
					{% set total = total + notice.note %}
					{% set count = count + 1 %}
				{% endfor %}
				{% if count > 0 %}
					{# Total / nombre de note = note arrondie #}
					<img id="globalRating" src="{{ asset('images/etoile' ~ (total / count) | round ~ '.svg') }}" alt="Logo" class="align-self-center">
				{% endif %}
				<div class="d-flex">
					<div class="row text-center">
						<div class="col-9 text_recipe">
							<h2>Description :</h2>
							<p class="text_recipe">{{ recipe.description   | raw }}</p>
							<div class="container_recipe_time text_recipe">
								<p >Temps Total :{{ recipe.TotalTime }}</p>
								<div class="d-flex justify-content-around">
									<div>
										<p>Temps de préparation :</p>
										<p>{{ recipe.PreparationTime }}</p>
									</div>
									<div>
										<p>Repos :</p>
										<p>{{ recipe.TimeOfRest }}</p>
									</div>
									<div>
										<p>Cuissons :</p>
										<p>{{ recipe.CookingTime }}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-2 mt-2">
							<img src="/upload/recipes/{{ recipe.image }}" class="recipe_image h-75 w-100"></img>
					</div>
					<div class="row mt-4 text_recipe">
						<div class="col-4">
							<h3>Ingredients</h3>
							{% for ingredient in recipe.ingredien %}
								<li>{{ ingredient.name }}</li>
							{% endfor %}
						</div>
						<div class="col-8 container_recipe_time">
							<h3>Etapes</h3>
							<p>{{ recipe.steps  | raw }}</p>
						</div>
					</div>
					<div>
						<div class="d-flex justify-content-around mt-5">
							<div>
								<H4>
									ALLERGENES:</H4>
									{% set count = 0 %}
								{% for allergen in recipe.allergen %}
									{% set count = count + 1 %}
									<li class="red merri">{{ allergen }}</li>

								{% endfor %}
										{% if count < 1 %}
										<p class="red merri">aucun allergène sur cette recette</p>
									{% endif %}
							</div>
							<div>
								<H4>TYPES DE RéGIME :</H4>
								{% set count1 = 0 %}
								{% for diets in recipe.diets %}
								{% set count1 = count1 + 1 %}
									<li class="red merri">{{ diets }}</li>
								{% endfor %}
									{% if count1 < 1 %}
										<p class="red merri">aucun régime alimentaire concerné.</p>
									{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
