{% extends 'base.html.twig' %}

{% block title %}Index
{% endblock %}

{% block body %}
	<div class="Container_Primary mt-4 container">
		<div class="row justify-content-md-center align-items-center">
			<div class="col-md-2 col-sm-3  col-5 exo">
				<h5>à propos</h5>
				<img src="{{ asset('images/Ellipse1.png') }}" alt="Photo de Sandrine Coupart" class="ellipse">
			</div>
			<div class="col-md-auto d-none d-md-block"></div>
			<div class="col-md-7 col-sm-8 col-7 merri">
				<p>Bonjour et bienvenue ! Je suis Sandrine Coupart, diététicienne-nutritionniste basée à Caen. Passionnée par la nutrition et la santé, j'ai choisi d'en faire mon métier afin d'accompagner les personnes vers une meilleure qualité de vie à travers une alimentation équilibrée.</p>
				<p class="d-none d-md-block ">
					</br>Mon cabinet est un lieu où je mets en pratique ma philosophie : promouvoir une approche holistique de la nutrition, en considérant chaque individu dans sa globalité. Chaque patient est unique, c'est pourquoi je personnalise mes consultations pour répondre aux besoins spécifiques de chacun.</p>
			</p>
			</div>
			<div class="merri col-9">
			<p class="d-block d-md-none ">
				Mon cabinet est un lieu où je mets en pratique ma philosophie : promouvoir une approche holistique de la nutrition, en considérant chaque individu dans sa globalité. Chaque patient est unique, c'est pourquoi je personnalise mes consultations pour répondre aux besoins spécifiques de chacun.</p>
			<p>En plus des consultations individuelles, j'anime des ateliers de prévention et d'information sur la nutrition. Mon objectif est d'éduquer et de sensibiliser à l'importance d'une alimentation équilibrée et adaptée à chacun, afin de prévenir les problèmes de santé et de favoriser le bien-être.</p>
			<p></br>Je suis là pour vous accompagner dans votre démarche vers une alimentation saine et équilibrée, en vous fournissant des conseils personnalisés et des outils concrets. Ensemble, nous travaillerons à atteindre vos objectifs de santé et à vous aider à adopter de saines habitudes alimentaires pour une vie plus épanouie.
											N'hésitez pas à me contacter pour prendre rendez-vous ou pour toute question. Je me réjouis de faire votre connaissance et de vous aider dans votre parcours vers une meilleure santé !</p>
			</div>
		</div>
	</div>
<div>
<div class="Container_Primary mt-4 container p-4">
	<div class="row align-items-center">
		<h2 class="col-6 col-sm-8  exo">mes services</h2>
		<img src="{{ asset('images/Ellipse2.png') }}" alt="Photo de Sandrine Coupart" class="col-4 col-sm-3  mx-auto ">
	</div>
</div>
<div class="mt-3 container">
  <div class="row">
    <div class="col-12 col-xl-5 Container_Primary mx-auto p-2 d-flex flex-column mt-2">
      <h5 class="exo text-center">consultations diététiques</h5>
      <div class="d-flex align-items-center">
        <img src="{{ asset('images/Ellipse3.png') }}" alt="Photo de Salade" class="ellipse">
        <p class="merri col-6 mx-auto"> Lors de nos consultations individuelles, je vous accompagne dans l'élaboration d'un plan alimentaire personnalisé. En analysant votre mode de vie, vos besoins et vos objectifs, je vous aide à adopter des habitudes alimentaires saines et équilibrées.</p>
      </div>
    </div>
    <div class="col-12 col-xl-5 Container_Primary mx-auto p-2 d-flex flex-column mt-2">
      <h5 class="exo text-center">ateliers de prévention</h5>
      <div class="d-flex align-items-center">
        <img src="{{ asset('images/Ellipse4.png') }}" alt="Photo d'avocat" class="ellipse">
        <p class="merri col-6 mx-auto">Participez à nos ateliers interactifs dédiés à la prévention et à l'information sur la nutrition. Vous y découvrirez des conseils pratiques pour améliorer votre alimentation au quotidien et maintenir une bonne santé.</p>
      </div>
    </div>
	 <div class="col-12 col-xl-5 Container_Primary mx-auto p-2 d-flex flex-column mt-2">
      <h5 class="exo text-center">Conférences et interventions</h5>
      <div class="d-flex align-items-center">
        <img src="{{ asset('images/Ellipse5.png') }}" alt="Photo de prise de note" class="ellipse">
        <p class="merri col-6 mx-auto">Je propose des conférences et des interventions dans divers contextes, tels que les écoles, les entreprises et les événements communautaires. Ces sessions visent à éduquer et à sensibiliser un large public aux principes fondamentaux de la nutrition et à encourager des choix alimentaires sains.</p>
      </div>
    </div> <div class="col-12 col-xl-5 Container_Primary mx-auto p-2 d-flex flex-column mt-2">
      <h5 class="exo text-center">Accompagnement personnalisé</h5>
      <div class="d-flex align-items-center">
        <img src="{{ asset('images/Ellipse6.png') }}" alt="Photo de sandrine en pleine préparation culinaires" class="ellipse">
        <p class="merri col-6 mx-auto">Afin de vous soutenir dans votre parcours vers une meilleure santé, je vous offre un suivi personnalisé. Ensemble, nous travaillerons à atteindre vos objectifs et à maintenir des habitudes alimentaires bénéfiques pour votre bien-être à long terme.</p>
      </div>
    </div>
	
  </div>
</div>


</div>{% endblock %}
